<!DOCTYPE html>
{% extends "irnss/base.html" %}
{% load static %}
    {% block body_block %}
    <div class="row wrapper">
      <div class="col-md-3">
        <div class="sidebar">
          <ul>
            <li><a href="/beidou"><span>BeiDou</span><i class="fa fa-chevron-right pull-right"></i></a></li>
            <li><a href="/beidou1"><span>BeiDou-1</span><i class="fa fa-chevron-right pull-right"></i></a></li>
            <li><a href="/beidou2"><span>BeiDou-2</span><i class="fa fa-chevron-right pull-right"></i></a></li>
            <li><a href="/beidou3"><span>BeiDou-3</span><i class="fa fa-chevron-right pull-right"></i></a></li>

            <li><a href="/beidou/applications/"><span>Applications</span><i class="fa fa-chevron-right pull-right"></i></a></li>
            <li><a target="_blank" href="http://en.beidou.gov.cn/"><span>Read More</span><i class="fa fa-chevron-right pull-right"></i></a></li>
          </ul>
        </div>
      </div>
      <div class="col-md-7">
        <h1 >BeiDou-2</h1>

        <div class="writeup">
          <p>
            BeiDou-2 (formerly known as COMPASS) is not an extension to the older BeiDou-1, but rather
            supersedes it outright. The new system is a constellation of 35 satellites, which include 5
            geostationary orbit satellites for backward compatibility with BeiDou-1, and 30 non-geostationary
            satellites (27 in medium Earth orbit
            and 3 in inclined geosynchronous orbit), that offer complete
            coverage of the globe.
          </p>

          <div class="thumbnail expand-on-small" >
            <img class="img-responsive" src="{% static "images/map2.jpg" %}">
            <div class="caption-full">
              <h5>BeiDou's Coverage in 2012</h5>
            </div>
          </div>


          <p>The ranging signals are based on the CDMA
            principle and have complex structure typical of Galileo
              or modernized GPS.
               Similar to the other global navigation satellite systems (GNSSs), there are two
              levels of positioning service: open (public) and restricted (military). The public service is
              available globally to general users. When all the currently planned GNSSs are deployed, users of
              multi-constellation receivers will benefit from a total over 100 satellites, which will significantly
               improve all aspects of positioning, especially availability of the signals in so-called
               urban canyons.
               The general designer of the COMPASS navigation system is
               Sun Jiadong, who is also the general
               designer of its predecessor, the original BeiDou navigation system. All BeiDou
               satellites are equipped with laser retroreflector
               arrays for Satellite Laser Ranging and the verification of the orbit quality.</p>



               <div class="thumbnail irnss-img text-center" >
                 <img class="img-responsive" src="{% static "images/Gps_compass_galileo_frequency_allocation_Asimsky_05_2008.jpg" %}">
                 <div class="caption-full">
                   <h5>Frequency allocation of GPS, Galileo, and COMPASS; the light red color of E1 band indicates that the transmission in this band has not yet been detected.</h5>
                 </div>
               </div>
               <div class="thumbnail irnss-img text-center" >
                 <img class="img-responsive" src="{% static "images/Ground-tracks-of-the-BeiDou-satellites-and-distribution-of-the-experimental-tracking.png" %}">
                 <div class="caption-full">
                   <h5>Ground track of BeiDou-M5 (2012-050A)</h5>
                 </div>
               </div>

               <div style="text-align: center;">
                 <a target="_blank" class="btn btn-primary" href="https://en.wikipedia.org/wiki/BeiDou#BeiDou-2">Read More...</a>
               </div>

               <!-- <div id="pic">
                <img src="/images/Gps_compass_galileo_frequency_allocation_Asimsky_05_2008.jpg" alt="eighteight"width="475" height=""style="margin">
               <p><strong>Frequency allocation of GPS, Galileo, and COMPASS; the light red color of E1 band indicates that the transmission in this band has not yet been detected.</strong></p>
              </div>

               <div id="pic">
                <img src="/images/Ground-tracks-of-the-BeiDou-satellites-and-distribution-of-the-experimental-tracking.png" alt="eighteight"width="475" height=""style="margin">
                <p><strong>Ground track of BeiDou-M5 (2012-050A)</strong></p>
              </div> -->

        </div>

      </div>
</div>
    {% endblock %}
