<!DOCTYPE html>
{% extends "irnss/base.html" %}
{% load static %}
    {% block body_block %}
    <div class="row wrapper">
      <div class="col-md-3">
        <div class="sidebar">
          <ul>
            <li><a href="/beidou"><span>BeiDou</span><i class="fa fa-chevron-right pull-right"></i></a></li>
            <li><a href="/beidou1"><span>BeiDou-1</span><i class="fa fa-chevron-right pull-right"></i></a></li>
            <li><a href="/beidou2"><span>BeiDou-2</span><i class="fa fa-chevron-right pull-right"></i></a></li>
            <li><a href="/beidou3"><span>BeiDou-3</span><i class="fa fa-chevron-right pull-right"></i></a></li>

            <li><a href="/beidou/applications/"><span>Applications</span><i class="fa fa-chevron-right pull-right"></i></a></li>
            <li><a target="_blank" href="http://en.beidou.gov.cn/"><span>Read More</span><i class="fa fa-chevron-right pull-right"></i></a></li>
          </ul>
        </div>
      </div>
      <div class="col-md-7">
        <h1 >Applications of BeiDou</h1>

        <div class="writeup">
              <ul class="lis beidou-appln">
                <li>
                  <h4>Transportation</h4>
                      <p>
                        Transportation is the lifeblood of national economy, social development and people’s life.
                         The BeiDou Satellite Navigation System is an important channel to help in realizing the in
                          formalization and modernization of transportation. BDS is of great significance to the
                           establishment of a modern transportation system that is smooth, efficient, safe and green.
                            The sector mainly includes land applications, navigation applications, and aviation
                            applications. Land applications include vehicle autonomous navigation, vehicle tracking
                             and monitoring, vehicle intelligent information system, networking applications, railway
                              operation monitoring, and etc. Navigation applications include ocean transportation,
                              inland river navigation, ship anchorage and docking, and etc. Aviation applications
                              include route navigation, airport scene monitoring, precision, and etc. With the
                              development of the transportation industry, the demands of high-precision applications
                               are increasing rapidly.</p>
                </li>
                <li>
                  <h4>Agriculture</h4>
                   <p>
                     China is a large agricultural country. In combination with remote sensing, geographic
                      information, and other technologies, BDS technologies have accelerated the transformation
                       from traditional agriculture to intelligent agriculture. In that way, the cost of
                        agricultural production could be significantly reduced, and the agricultural labor
                         productivity and labor income would be increased.
                       The sector mainly includes the applications of farmland information collection, soil
                       nutrient and distribution survey, crop fertilization, crop disease and pest prevention
                       and control, planting monitoring, agricultural machinery unmanned driving, farmland
                       ridging sowing, UAV plant protection, and etc. The applications like agricultural
                       machinery unmanned driving, farmland ridging sowing, UAV plant protection have a
                       strong demand for the high-precision BDS services.
                   </p>
                </li>
                   <li>
                     <h4>Forestry</h4>
                       <p>
                         Forestry is one of the earlier BDS applications. Forestry management departments use
                         BDS to carry out forestry resource inventory, forestry management and inspection. In that
                         way, the management cost has been greatly reduced and the work efficiency of forestry has
                         been well improved. The sector mainly includes the applications of forest area estimation,
                         timber volume estimation, ranger woodland patrol, forest-fire prevention, determination of
                         regional boundaries, and etc. Among them, ranger woodland patrol and forest-fire prevention
                         utilizes the unique BDS SMS functions. In particular, combined with remote sensing
                         technologies, BDS  has played an important role in the National Forest Resources Survey.
                         Moreover, with the implementation of collective forest ownership in China’s forest areas,
                         BDS has also been widely applied in boundaries exploration and ownership recognition.
                       </p>
                   </li>

                  <li>
                    <h4>Fishery</h4>
                    <p>
                    Fishery is an industry which the BDS SMS services were popularized earlier and widely used.
                    China is a large fishery country, the area of Chinese marine fishery covers about 3,000,000
                    km2, and there are a great number of fishing vessels and Chinese fishermen engaged in marine
                    fishery. The sector mainly includes the applications of fishing vessel navigation, fishery
                     administration, fishing port management, marine disaster warning, short message
                     communication for fishermen, and etc. Especially in the sea areas where there are no
                     mobile communication signals, using the BDS short message function, the fisherman can
                     send messages to their families through BDS  terminal equipment. In this way, fishermen’s
                     safety, national marine economic security, marine resources protection and maritime
                     sovereignty maintenance can all be effectively protected.
                    </p>
                  </li>
                    <li>
                      <h4>Public Security</h4>
                      <p>
                        A large number of public security services such as anti-terrorism, social stability
                        maintenance, social security demand for high sensitivity and confidentiality. Therefore,
                        it is imperative to popularize BDS in the field of public security. A BDS-based public
                        security information system  has realized the dynamic dispatch and integrated command of
                        police resources, which has improved the response time and the execution efficiency. The
                        sector mainly includes the command and dispatch of public security vehicles, the on-site
                        law enforcement management, emergency incident information transmission, public security
                        time service, and other applications. Among them, the emergency incident information
                        transmissions can be implemented by using the unique BDS short message function.
                      </p>
                    </li>
                    <li>
                      <h4>Disaster Prevention and Mitigation</h4>
                      <p>
                      The field of disaster prevention and mitigation is one of the most prominent BDS industrial
                      applications. Through the short message and location reporting function of BDS, disaster warning and
                      quick report, disaster relief command and dispatch, and rapid emergency communication have been
                      realized. This can greatly improve the response time and decision-making capability of the disaster
                      emergency response. The sector mainly includes the applications of disaster reporting,
                      disaster warning, disaster relief command, disaster communication, buildings, bridges and
                      reservoirs monitoring, and etc. Among them, disaster relief command and disaster
                      communication can use the unique BDS short message function, while the buildings,
                      bridges and reservoirs monitoring applications could use the high-precision BDS services.
                      </p>
                    </li>

                    <li>
                      <h4>Special Care</h4>
                      <p>
                      In recent years, BeiDou applications for special group care has been gradually emerging.
                      Through the BDS navigation, positioning, short message and other functions, the relevant
                      services can be provided to the elderly, children, disabled people and other special groups
                      to ensure their safety. It mainly include electronic fence, emergency call rescue, and other
                       applications. Among them, the electronic fence can realize the setting of the scope of the
                       electronic enclosure to prevent the relative people from going beyond that scope. Once they
                       step out of that scope, the people who set up those scopes will receive alerts through their
                        mobile phones immediately.
                      </p>
                    </li>

                    <li>
                      <h4>Mass Market Applications</h4>
                      <p>
                      Mobile phones, wearable devices and other BDS public applications are gradually becoming new
                      highlights in recent years. By using the BDS positioning function, the mobile navigation, route
                      planning and a series of location service functions can be implement, which provide convenience to
                       people's life. The sector mainly includes mobile phone applications, vehicle navigation
                       equipment, wearable equipment, and other applications. Through the deep integration with
                       information communication, internet of things, cloud computing and other technologies, many
                        location service functions have been realized.
                      </p>
                    </li>

                    <li>
                      <h4>Electric Power Industry</h4>
                      <p>
                      Time synchronization for electric power transmission involves national economy and the security
                       of people's livelihood. Therefore, it is imperative to popularize BDS applications in electric
                       power industry. By using the BDS timing function, the power management department can realize
                       the unity of the time reference for the whole power network and ensure the safe and stable
                       operation of the power grid. The sector mainly includes the applications of power grid time
                       datum unification, the monitoring of the power station environment, the monitoring of power
                       vehicles, and etc Among them, the high-precision BDS services is urgently needed for power grid
                        time datum unification.
                      </p>
                    </li>

                    <li>
                      <h4>Finance</h4>
                      <p>
                      The financial industry computer network time synchronization involves national politics,
                      economy, people's livelihood and safety. The financial management department realizes the
                      financial computer network time datum unification by using the BDS timing service function,
                      and to ensure the safe and stable operation of the financial system. The sector mainly
                      includes the applications of financial computer network time datum unification, financial
                      vehicle supervision, and etc.
                      </p>
                    </li>
              </ul>

        </div>

      </div>
</div>
    {% endblock %}
