<!DOCTYPE html>
{% extends "irnss/base.html" %}
{% load static %}
    {% block body_block %}
    <div class="row wrapper">
    <div class="col-md-3">
      <div class="sidebar">
        <ul>
          <li><a href="/"><span>IRNSS</span><i class="fa fa-chevron-right pull-right"></i></a></li>
          <li><a href="/irnss/applications/"><span>Applications</span><i class="fa fa-chevron-right pull-right"></i></a></li>
          <li><a href="/irnss/gagan/"><span>GAGAN</span><i class="fa fa-chevron-right pull-right"></i></a></li>
          <li><a target="_blank" href="https://en.wikipedia.org/wiki/Indian_Regional_Navigation_Satellite_System"><span>Read More</span><i class="fa fa-chevron-right pull-right"></i></a></li>
        </ul>
      </div>
    </div>
    <div class="col-md-7">
      <h1>Applications of IRNSS</h1>
      <div class="writeup">
        <p>
          <em><strong>Satellite Navigation (SATNAV)</strong></em> has revolutionized the navigation world, opening new opportunities which require high precision positioning and timing. Large service volume and all weather capability provide varieties of applications. Under satellite navigation, SAC is working on IRNSS - Indian Regional Navigation Satellite System and the GAGAN systems. IRNSS aims at providing Standard Position Services (SPS) and Restricted Services (RS) for special users.

        </p>


        <div>

          <p>Some applications of IRNSS/NAVIC are:</p>
          <ol class="lis">
            <li><strong>Terrestrial, Aerial and Marine Navigation</strong></li>
            <li><strong>Disaster management</strong> </li>
            <li><strong>Vehicle tracking and fleet management</strong> </li>
            <li><strong>Integration with mobile phones</strong> </li>
            <li><strong>Precise timing</strong> </li>
            <li><strong>Mapping and Geodetic data capture</strong> </li>
            <li><strong>Terrestrial navigation aid for hikers and travellers</strong> </li>
            <li><strong>Visual and voice navigation for drivers</strong> </li>
            <li><strong>Efficient road traffic control and management</strong></li>
            <li><strong>Security and Surveillance applications</strong></li>
            <li><strong>Search and Rescue operations during natural calamities</strong></li>
            <li><strong>Marine applications</strong></li>
            <li><strong>Interactive gaming</strong></li>
          </ol>
        </div>
      </div>
      <p>
        The IRNSS Signal-in-Space Interface Control Document (ICD Ver. 1.1) for Standard Positioning Service (SPS) is released to the public to provide the essential information on the IRNSS signal-in-space, to facilitate research & development and aid the commercial use of the IRNSS signals for navigation-based applications.
        <a target="_blank" href=https://www.isro.gov.in/sites/default/files/irnss_sps_icd_version1.1-2017.pdf>Download Document</a>
      </p>


    </div>
</div>
    {% endblock %}
